pandas
numpy
matplotlib
sklearn
feature_engine
joblib
requests
fastapi
uvicorn
pyment
poetry
names
pytest
pycodestyle
tox
pydantic
../utils/dist/src_utils-0.1.0.tar.gz
../train/dist/src_train-0.1.0.tar.gz